<img src="http://drive.google.com/uc?export=view&id=1tpOCamr9aWz817atPnyXus8w5gJ3mIts" width=500px>

Proprietary content. © Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

---
# Python Practice Exercise - ACSE - IITM
---

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Write a program to retrieve the second element from the list
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

- Use the list given below
  - `[[10, 20,'a'], [30,'b',40], ['x', 50]]`

In [ ]:
lis = [[10, 20,'a'], [30,'b',40], ['x', 50]]

# give the positional index of an element
print(lis[1])

[30, 'b', 40]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Write a program to exchange the values of two numbers (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num1 = int(input("Enter value of num1: "))
num2 = int(input("Enter value of num2: "))
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2
print("num1 is:",num1 ," num2 is:",num2)

Enter value of num1: 45
Enter value of num2: 14
num1 is: 14  num2 is: 45

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
# Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

print('Are X and Y disjoint?', X.isdisjoint(Y))
if (X.isdisjoint(Y) == False):
    print('Intersection of X and Y:', X.intersection(Y))
else:
    print('Sets are disjoint')

Are X and Y disjoint? False
Intersection of X and Y: {34, 67, 12, 45, 23, 56, 89}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [ ]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

# retrieve the capital of Germany
print (europe['Germany']['Capital'])

Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                    not(3>4), not(1&1)

**Options:**<br>

A. False, True<br>
B. (False, True)<br>
C. (True, False)<br>
D. True, False

**Answer: C**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. What will be the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                 z = 'indiaismycountry'
                                 x = z[:4]
                                 y = z[4:]
                                 x+y

**Options:**<br>

A. 'indi ismycountry'<br>
B. 'indiismycountry'<br>
C. 'indiaismycountry'<br>
D. 'indi aismycountry'

**Answer: C**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                             def func(x = 1, y = 2):
                                 x = x + y
                                 y += 1
                                 print(x, y)
                                 
                             func(y = 2, x = 1)

**Options:**<br>

A. 3,3<br>
B. 3,4<br>
C. 3 4<br>
D. 3 3

**Answer: D**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

def greetPerson(*name):

    print('Hello', name)

greetPerson('Sara', 'Sana')

**Options:**<br>

A. Hello ('Sara', 'Sana') <br>
B. Hello, SaraHello, Sana<br>
C. Syntax Error! greetPerson() can take only one argument.<br>
D. Hello, Sara

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to check whether a number is in a range (1000,10000) or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def test_range(n):
    if n in range(1000, 10000):
        print( " The number is in the given range")
    else :
        print("The number is outside the given range.")

# call the function
test_range(4591)

 The number is in the given range

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a python code to print pascal triangle upto 5 steps (using list) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# pascal triangle upto 5 steps

list=[1]
for i in range(5):
    print(list)
    newlist=[]
    newlist.append(list[0])
    for i in range(len(list)-1):
        newlist.append(list[i]+list[i+1])
    newlist.append(list[-1])
    list=newlist

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 11. Write a program to get square of first five positive integers (use List Comprehension)  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
squares = [num**2 for num in range(1,6)]
squares

[1, 4, 9, 16, 25]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 12. Write a program to reverse the digits of a positive integer (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num = int(input("Enter the number: "))
reverse = 0
while(num>0):
    digit = num%10
    reverse=reverse*10+digit
    num = num//10
print("Reverse of the number:", reverse)

Enter the number: 45
Reverse of the number: 54

**Explanation:**<br>
1. User assigned value is stored in variable 'num'.<br>
2. The while loop is used to continue the process until the number becomes 0 and the last digit of the number is obtained by using the modulus operator.<br>
3. The last digit is then stored at the one’s place, second last at the ten’s place and so on.<br>
4. The last digit is then removed by dividing the number with 10.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 13. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [ ]:
numbers = {2, 3, 4, 5}
numbers.discard(3)
print('updated_numbers = ', numbers)

updated_numbers =  {2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 14. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
t = (5,)
print('Type of t:', type(t))

Type of t: <class 'tuple'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to calculate perimeter of a square (take input for side of square from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
side = int(input("Enter length of side of a square : "))

# write formula to calculate the perimeter 
perimeter = 4*side
print("The perimeter of square of side %d is %d." %(side,perimeter))

Enter length of side of a square : 5
The perimeter of square of side 5 is 20.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Define a function to check whether the number is a palindrome or not (take input of number from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def palindrome(n):
    temp = n
    rev = 0
    while n!=0:
        rev = (rev *10)+int(n%10)
        n=int(n/10)
    if temp==rev:
        print(temp,'is palindrome')
    else:
        print(temp,'is not palindrome')

# call the function        
n= int(input('Enter number:'))
palindrome(n)

Enter number:1241
1241 is not palindrome

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Define a function to concatenate two global strings </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings:**
    
string1 = 'Hello'<br>
string2 = 'World'

In [ ]:
string1 = 'Hello'
string2 = 'World'

def func():
    global string
    string = string1 + " " + string2
    print(string)

func()

Hello World

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

 result = lambda x: x <i>X</i> x <br>
 print(result(5))

**Options:**<br>
                                    
A. lambda x: x <i>X</i> x<br>
B. 25<br>
C. 5 . 5 <br>
D. lambda 5: 5 <i>X</i> 5

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a program to count the number of even and odd numbers from a given range of numbers </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the range:**<br>

range(34356, 362373)

In [ ]:
# set the range  
numbers = range(100,999 ) 

# set the count of even and odd numbers to 0
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
            count_even+=1
        else:
            count_odd+=1
            
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 450
Number of odd numbers : 449

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to calculate square of number from 0 to 99 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# use lambda function
list(map((lambda x:x**2), range(100)))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a program to get the sum of all elements in the list  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = [11, 22, 33, 44, 55]

In [ ]:
list1 = [11, 22, 33, 44, 55]

# initially set the sum to 0
sum=0
for i in range(len(list1)-1):
       sum = sum + list1[i]
print('Sum =',sum)

Sum = 110

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 22. Write a program to read height in centimeters and then convert it to feet and inches (take input for height from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
height = int(input("Enter the height in centimeters:"))

# write the conversion formulae
inches = 0.3937*height
feet = 0.0328*height
print("The length in inches", round(inches,2))
print("The length in feet", round(feet,2))

Enter the height in centimeters:168
The length in inches 66.14
The length in feet 5.51

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 23. Which of the following code creates an empty set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. x = set()<br>
B. x = set([])<br>
C. x = set({})<br>
D. All of the above

**Answer: A**<br>
**Exaplanation:** set() is a function used to create sets

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 24. Write a code to multiply two given lists </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the lists below:**

A = [1, 4, 5, 7, 3]

B = [2, 0, 8, -3]

In [ ]:
A = [1, 4, 5, 7, 3]
B = [2, 0, 8, -3]

product = [a*b for a,b in zip(list(A),list(B))]
product

[2, 0, 40, -21]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Given x = True and y = False, obtain<br><br>
                       a.  x and y<br>
                       b.  x or y<br>
                       c.  not x<br>
                       d.    not y
                        </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. x and y**

In [ ]:
x = True
y = False

print('x and y:',  x and y)

x and y: False

**b. x or y**

In [ ]:
x = True
y = False

print('x or y:',  x or y)

x or y: True

**c. not x**

In [ ]:
x = True
y = False

print('not x:',  not x)

not x: False

**d. not y**

In [ ]:
x = True
y = False

print('not y:',  not y)

not y: True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Write a function to reverse a string (take string input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def reverse(string):
    # set the empty string
    rs=''
    for i in string:
        rs = i+rs
    print(rs)
    
# call the function
string = input('Enter string:')
reverse(string)

Enter string:Data
ataD

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                   list1 = [1, 2, 3, 4]
                                   list2 = [100, 200, 300, 400]

                                   output = list(map(lambda x, y: x+y , list1, list2))
                                   output

**Options:**<br>

A. 101, 202, 303, 404<br>
B. [100, 300, 200, 100, 1, 2, 3, 4 ]<br>
C. [1, 2, 3, 4, 100, 200, 300, 400]<br>
D. [101, 202, 303, 404]<br>

**Answer: D**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                        numbers = [1, 3, 6]
                        newNumbers = tuple(map(lambda x: x , numbers))
                        print(newNumbers)

**Options:**<br>

A. [1, 3, 6]<br>
B. (1, 3, 6)<br>
C. [2, 6, 12]<br>
D. (2, 6, 12)

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                 list1=[26621, 228727, 32727872, (4182982)]
                                 list2=list1.copy()
                                 list2

**Options:**<br>

A. [26621, 228727, 32727872, 4182982]<br>
B. [26621, 228727, 32727872, (4182982)]<br>
C. 26621, 228727, 32727872, 4182982<br>
D. None

**Answer: A**

 
  <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Write a function to find whether a number is a power of two or not (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def power(n):
    if n <= 0:
        return False
    else:
        return n & (n - 1) == 0
n = int(input('Enter a number: '))
 
if power(n):
    print(n ,"is a power of two.")
else:
    print(n,"is not a power of two." )

Enter a number: 24
24 is not a power of two.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>31. Write a function to create a list 5 numbers and find the largest number in that list (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# create an empty list
list_of_numbers = []

for i in range (5):
    a = int(input("Enter nos:"))
    list_of_numbers.append(a)
list_of_numbers.sort()
print("Largest no is:", list_of_numbers[-1])

Enter nos:51
Enter nos:12
Enter nos:45
Enter nos:74
Enter nos:51
Largest no is: 74

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 32. Write a program that takes a year and checks whether it is a leap year or not (take input for year from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# input the year
yr = int(input("Enter year:"))

# give conditions to check the leap year
if(yr%4 == 0 and yr%100 != 0 or yr%400 == 0):
    print(yr," is a leap year")
else:
    print(yr,"is not a leap year")

Enter year:1996
1996  is a leap year

**Explanation:** The 'if statement' checks if the given year is a multiple of 4 but is not a multiple of 100 or if it is a multiple of 400. (not every year that is a multiple of 4, is a leap year)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 33. How will you add a new element to the given set? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

color_set = set(['red', 'orange', 'yellow'])

**Options:**<br>

A. color_set.add("green")<br>
B. color_set.add{("green")}<br>
C. color_set.add(["green"])<br>
D. None of the above

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Define a function to calculate an average of 2 numbers (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# define a function
def avg(a,b):
    print('Average=',(a+b)/2)

# call the function
avg(17,84)

Average= 50.5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Compute the arithmetic operations using a = 34 and b = 564 <br> <br>
                        a.  Addition of numbers  <br>
                        b.  Subtraction of numbers<br>
                        c.  Multiplication of numbers <br>
                        d.  Division(float) of numbers <br>
                        e.  Division(floor) of numbers <br>
                        f.  &nbsp;Modulo of both numbers <br>
                        g.  a raised to 5
                        </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Addition of numbers**

In [ ]:
a = 34
b = 564

# Addition of numbers 
add = a + b 
print('Addition of a and b:', add)

Addition of a and b: 598

**b. Subtraction of numbers**

In [ ]:
a = 34
b = 564

# Subtraction of numbers  
sub = a - b 
print('Subtraction of a and b:', sub)

Subtraction of a and b: -530

**c. Multiplication of numbers**

In [ ]:
a = 34
b = 564

# Multiplication of numbers  
mul = a * b 
print('Multiplication of a and b:', mul)

Multiplication of a and b: 19176

**d. Division(float) of numbers**

In [ ]:
a = 34
b = 564

# Division(float) of numbers 
div_float = a / b 
div_float
print('Division(float) of a and b:', div_float)

Division(float) of a and b: 0.06028368794326241

**e. Division(floor) of numbers**

In [ ]:
a = 34
b = 564

# Division(floor) of numbers 
div_floor = a // b 
div_floor
print('Division(floor) of a and b:', div_floor)

Division(floor) of a and b: 0

**f.  Modulo of both numbers**

In [ ]:
a = 34
b = 564

# Modulo of both numbers 
mod = b % a
print('Modulo of a and b:', mod)

Modulo of a and b: 20

**g. a raised to 5**

In [ ]:
a = 34
b = 564

# a raised to 5
power = a**5
print('a rasied to 5:', power)

a rasied to 5: 45435424

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Write a function to display multiplication table of an integer (take integer input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def table(n):
    multi = 1
    for i in range(1,11):
        multi = n*i
        print(multi)

# call the function        
n=int(input('Enter number:'))
table(n)

Enter number:4
4
8
12
16
20
24
28
32
36
40

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>37. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                  list = [lambda m:m**2, 
                                          lambda m,n:m*n, 
                                          lambda m:m**4]

                                  print([list[0](10), list[1](2, 20), list[2](3)])

**Options:**<br>

A. 100, 40, 81<br>
B. 100<br>
&nbsp; &nbsp; &nbsp; 40<br>
&nbsp; &nbsp; &nbsp; 81<br>
C. [100, 40, 81]<br>
D. None<br>

**Answer: C**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                         def Foo(x):
                             if (x==1):
                                 return 1
                             else:
                                  return x+Foo(x-1)
                        print(Foo(4))

**Options:**<br>

A. 10<br>
B. 24<br>
C. 1<br>
D. 8

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Write the program to replace list values inside a tuple </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple:**
    
t = (1, 2, ['a', 'b', 1.2], 3, 4)<br>

Replace 'a' with 100

In [ ]:
# create a tuple containing a list
t = (1, 2, ['a', 'b', 1.2], 3, 4)

# replace element in the list
t[2][0]=100
t

(1, 2, [100, 'b', 1.2], 3, 4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>40. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                        list1=[2, 3, [4, 5]]
                        list2=list1.copy()
                        list2[0]=88
                        list2

**Options:**<br>

A. [88, 3, 4, 5]<br>
B. [88, 3, [4, 5]]<br>
C.  88, 3, 4, 5<br>
D. None

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>41. Write a program to find the second largest number in a list (use for loop)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = [67, 45, 34, 66, 54, 22]

In [ ]:
list1 = [67,45,34,66,54,22]

for i in range(len(list1)-1):
    for j in range(len(list1)-i-1):
        if list1[j]>list1[j+1]:
            list1[j],list1[j+1] = list1[j+1], list1[j]
print("Second largest no:", list1[-2])

Second largest no: 66

**Explanation:**<br> 
1. Compare the first two elements<br>
2. If the first number is greater than the second number, swap those elements<br>
3. Repeat these steps until the whole list is sorted in ascending order<br> 
4. Then access second last number with negative indexing

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 42. Write a program to read the marks of 5 subjects and display the grade.(assuming there are no passing marks) (take marks as input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# input the marks in the 5 subjects
m1=int(input("Enter marks for subject1: "))
m2=int(input("Enter marks for subject2: "))
m3=int(input("Enter marks for subject3: "))
m4=int(input("Enter marks for subject4: "))
m5=int(input("Enter marks for subject5: "))
avg=(m1+m2+m3+m4+m5)/5

# give different criterias for grades
if(avg>=85):
    print("Grade: A")
elif(avg>=70 and avg<85):
    print("Grade: B")
elif(avg>=55 and avg<70):
    print("Grade: C")
elif(avg>=40 and avg<55):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks for subject1: 74
Enter marks for subject2: 84
Enter marks for subject3: 5
Enter marks for subject4: 78
Enter marks for subject5: 59
Grade: C

**Remark:** One can add different criterias for grades

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>43. What will be the output of the follwing code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                   color = {"orange", "yellow", "green", "red"}
                   number = {"Two", "One", "Three"}
                   color < number

**Options:**<br>

A. True<br>
B. False

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Write a function to calculate factorial of a number (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def fact(n):
    fact=1
    while n>0:
        fact=fact*n
        n-=1
    return fact

# call the function
fact(5)

120


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. Write a program to read two numbers and print their quotient and remainder (take numbers as input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
a = int(input("Enter the 1 st number: "))
b = int(input("Enter the 2 nd number: "))

# calculate the quotient and remainder
q = a//b
r = a%b
print("Quotient is:",q)
print("Remainder is:",r)

Enter the 1 st number: 57
Enter the 2 nd number: 4
Quotient is: 14
Remainder is: 1


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>46. Write a program to find the sum of digits in a number using list (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

For example:<br>
If number = 86<br>
output should be equal to 8 + 6 = 14

In [ ]:
list1 = []
b = int(input("Enter a number: "))
while(b > 0):
    dig = b%10
    list1.append(dig)
    b = b//10
print("Sum is:", sum(list1))

Enter a number: 51
Sum is: 6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>47. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                              result = (lambda x, y: 'True' if x == y else 'False')
                              result("Python", "PyThon")

**Options:**<br>

A. True<br>
B. False

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>48. Suppose a tuple 'X' contains 15 elements. How can you set the 3rd element to ‘Python’?  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. X[2] = 'Python'<br>
B. Elements of tuple cannot be changed<br>
C. X[3] = 'Python'<br>
D. X(2) = 'Python'

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>49. Write a program to find ASCII value for entered character (take character input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
char = input('Enter character:')
ord(char)

Enter character:j

106

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 50. Consider a situation in which you need to calculate the price after tax for a list of transactions. For a given list of prices and a tax rate, write a user-defined function to get the final price</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the price list and tax rate given below:**

Price = [1.90, 28.56, 77.84, 45.56, 64.78] (Prices are in Lakhs)

TAX_RATE = .08

In [ ]:
# Prices are in lakhs
Price = [1.90, 28.56, 77.84, 45.56, 64.78]

TAX_RATE = .08

def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)

# call the function
final_prices = [get_price_with_tax(i) for i in Price]
final_prices

[2.052, 30.8448, 84.06720000000001, 49.204800000000006, 69.9624]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 51. Create a new list by multiplying each element of the given list by 2 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

given_list = [10, 2, 7, 4, 5, 12]

In [ ]:
given_list = [10, 2, 7, 4, 5, 12]
updated_list =list(map(lambda x : x*2, given_list))
updated_list

[20, 4, 14, 8, 10, 24]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 52. Write a program to find the common elements in the given lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = [67, 47, 31, 54, 22, 87, 41, 54]

list2 = [22, 52, 74, 67, 42, 89, 47]

In [ ]:
list1 = [67, 47, 31, 54, 22, 87, 41, 54]
list2 = [22, 52, 74, 67, 42, 89, 47]
list(set(list1) & set(list2))

[67, 22, 47]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>53. If Name = {'John', 'Sunny', 'James', 'Robert' }, Which of the following statement is false ? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. Name.remove('John')<br>
B. Name.add('John')<br>
C. Name.discard(1)<br>
D. Name{'James'} = 'Mary'

**Answer: D**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>54. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                   set = {12, 35, 36, 36, 77}
                   set

**Options:**<br>

A. {12, 35, 36, 77}<br>
B. {12, 35, 36, 36, 77}<br>
C. 12, 35, 36, 36, 77<br>
D. 12, 35, 36, 77

**Answer: A**


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>55. Write a program that takes three integers and prints all possible combinations from the digits (take integer inpur from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# input three integers
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
num3 = int(input("Enter third number:"))

# create an empty list to store the integers
combinations = []
combinations.append(num1)
combinations.append(num2)
combinations.append(num3)

# use for loop to iterate over the numbers
for i in range(0,3):
    for j in range(0,3):
        for k in range(0,3):
            if(i!=j&j!=k&k!=i):
                print(combinations[i], combinations[j], combinations[k])

Enter first number:5
Enter second number:7
Enter third number:1
5 7 1
5 1 7
7 5 1
7 1 5
1 5 7
1 7 5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>56. Write a program that takes a string and create a dictionary with the word as key and frequency of the word as value </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the string given below: (or create your own string)**

str1 = 'they dont know that we know they know we know'

In [ ]:
str1 = 'they dont know that we know they know we know'
key = []

# returns a list of strings after breaking the given string at white spaces
key = str1.split()

# calculate the frequency of each word
wordfreq = [key.count(p) for p in key]
print(dict(zip(key,wordfreq)))

{'they': 2, 'dont': 1, 'know': 4, 'that': 1, 'we': 2}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>57. Write a code to find the gcd of two numbers (take input for two numbers from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

factors_1 = []
for i in range(1, num1+1):
    if (num1 % i == 0):
        factors_1.append(i)
        
factors_2 = []
for j in range(1, num2+1):
    if (num2 % j == 0):
        factors_2.append(j)
        
common_factors = []
for factor in factors_1:
    if factor in factors_2:
        common_factors.append(factor)

gcd = common_factors[-1]
print("The GCD of %d and %d is %d" %(num1, num2, gcd))

Enter the first number: 25
Enter the second number: 3
The GCD of 25 and 3 is 1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>58. What is the output of  print((1, 2) + (3, 4)) ? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. (1, 2, 3, 4)<br>
B. (1, 2) + (3, 4)<br>
C. (4, 5, 5, 6)<br>
D. ((1, 2), (3,4)

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>59. Obtain one-one mapping of elements using zip function </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below: (or you can create your own list)**<br>

x = ['a','b','c']

y = [1,2,3]

In [ ]:
x = ['a','b','c']
y = [1,2,3]

print(list(zip(x,y)))

[('a', 1), ('b', 2), ('c', 3)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>60. Write a program to find the frequency of a particular number that occurs in a list (take input for number from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below: (or create your own list)**<br>

num_list = [1,2,1,2,4,2,5,7,5,8,6,9,55,4,1,26,5,21,6,5,2,1,7,41,3,6,25,74]

In [ ]:
num_list = [1,2,1,2,4,2,5,7,5,8,6,9,55,4,1,26,5,21,6,5,2,1,7,41,3,6,25,74]
k = 0
num = int(input("Enter the number to be counted:"))

# use the 'for loop' to calculate the frequency 
for j in num_list:
    if(j==num):
        k = k+1
print("Number of times",num,"appears is",k)

Enter the number to be counted:4
Number of times 4 appears is 2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>61. Use the filter function to retrieve only the even numbers from a given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

tuple1 = (18, 29, 37, 42, 51, 68, 77, 82, 106, 215)

In [ ]:
tuple1 = (18, 29, 37, 42, 51, 68, 77, 82, 106, 215)
even_tuple = tuple(filter(lambda x: x%2==0, tuple1))
even_tuple

(18, 42, 68, 82, 106)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 62. Write a program to reverse elements in the tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below: (or create your own tuple)**

tuple1 = (23, 56, 11, 2, 44, 5)

In [ ]:
tuple1 = (23, 56, 11, 2, 44, 5)
reverse_tuple =  tuple1[::-1]
print('Reverse tuple is:', reverse_tuple)

Reverse tuple is: (5, 44, 2, 11, 56, 23)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>63. If a = {1, 3, 4, 5}, which of the following statement is false ? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. a.update([1, 2, 3])<br>
B. a.update((1, 2, 3))<br>
C. a.update({1, 2, 3})<br>
D. a.update{(1, 2, 3)}<br>

**Answer: D**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>64. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                    a ={} 
                    dict = a.fromkeys(['a', 'b', 'c', 'd'], (98, 30))
                    print (dict)

**Options:**<br>

A. {'a': (98, 30), 'b': (98, 30), 'c': (98, 30), 'd': (98, 30)}<br>
B. {'a': (98), 'b': (98), 'c': (30), 'd': (30)}<br>
C. {'a': (30), 'b': (30), 'c': (98), 'd': (98)}<br>
D. None of the above

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>65. Write a program that takes a number and prints an identity matrix of the same order (take input for number from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
n = int(input("Enter a number: "))
for i in range(0,n):
    for j in range(0,n):
        if(i==j):
            print("1",sep=" ",end=" ")
        else:
            print("0",sep=" ",end=" ")
    print()

Enter a number: 5
1 0 0 0 0
0 1 0 0 0
0 0 1 0 0
0 0 0 1 0
0 0 0 0 1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>66. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                    A = (12, 10)
                    B = (1, 2)
                    res = A + B
                    res += A
                    res

**Options:**<br>

A. (12, 10, 10)<br>
B. (12, 10, 1, 2, 12, 10)<br>
C. (12, 12, 10, 10)<br>
D. (12, 12)

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>67. Write a code to multiply 3X3 matrices</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the matrices given below:**

X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

In [ ]:
# create two matrices
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

# create a zero matrix to store the product of matrices
result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
             result[i][j] += X[i][k] * Y[k][j]
for r in result:
    print(r)

[19, 37, 34]
[43, 97, 73]
[67, 157, 112]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>68. Write a program to get a list of odd numbers from a list using the filter function</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
list1 = [11,12,13,14,15,16,17]

In [ ]:
# create a list
list1 = [11,12,13,14,15,16,17] 

# filte the odd numbers using lambda function
result = list(filter(lambda x: x % 2, list1))
print((result))

[11, 13, 15, 17]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>69. Consider N = 3 and S = "Subject". Can N and S be concatenated such that their data types do not change? (Give a reason for your answer) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Option:** <br>

A. N and S can be concatenated. <br>
B. N and S can not be concatenated.

**Answer: B**<br>
**Explanation:** An integer and a string can not be concatenated. To concatenate, convert the integer to a string

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>70. Write a program to convert a decimal number into a binary number using an in-built function (take decimal number as input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num = int(input('Enter number:'))
bin(num)

Enter number:12

'0b1100'

**Explanation:**<br> 1.'bin' function converts decimal number into binary number<br> 2. 'b' stands for binary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>71. What will be the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                       list1 = [1,2,3,[4]] 
                                       list2 = list(list1)
                                       list1[3][0] = 5
                                       list1[1] = 7
                                       print(list2)

**Options:**<br>

A. [1 ,2, 3, [4]]<br>
B. [1, 7, 3, [5]]<br>
C. [1, 2, 3, [5]]<br>
D. [1, 4, 5, [8]]<br>

**Answer: C**<br>
**Explanation:** The above copy is a type of shallow copy, and only changes made in the sublist ([4]) are reflected in the copied list.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>72. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

lis = [24, 18, 24, 47, 52]

In [ ]:
lis = [24, 18, 24, 47, 52]
converted_lis =  tuple(lis)

# check the type 
print(type(converted_lis))

# print the values
print(converted_lis)

<class 'tuple'>
(24, 18, 24, 47, 52)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>73. Write a program to compute the sum of first N natural numbers (take input for 'N' from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
N = int(input("Enter a number: "))

# set the sum to 0
sum_N = 0
i = 0

# use the while loop to add the numbers
while(i < N+1):
    sum_N = sum_N + i
    i = i+1
print("The sum of first %d natural numbers is %d" %(N, sum_N))

Enter a number: 9
The sum of first 9 natural numbers is 45

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>74. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                            a = {'geeks' : 1, 'gfg' : 2} 
                            b = {'geeks' : 2, 'gfg' : 1} 
                            print (a == b)

**Options:**<br>

A. True<br>
B. False<br>
C. Error<br>
D. None

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>75. Write a program to print and remove every fourth number from a list of numbers until the list contains only one element </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

numbers = [41, 17, 25, 45, 3, 10, 99, 22, 24, 2]

In [ ]:
def remove_nums(int_list):
  #list starts with 0 index
    position = 4 - 1 
    idx = 0
    len_list = (len(int_list))
    while len_list>1:
        idx = (position+idx)%len_list
        print(int_list.pop(idx))
        len_list -= 1

# call the function    
numbers = [41, 17, 25, 45, 3, 10, 99, 22, 24, 2]
remove_nums(numbers)

45
22
17
99
25
2
24
41
10

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>76. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                            A = 34578
                            B = 3580
                            res1 = A + B
                            res1 /= 2
                            res1

**Options:**<br>

A. 1907<br>
B. 19079<br>
C. 19079.5<br>
D. None

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>77. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                        tup = (2,4,5, "AB")
                        tup[3] = "J"
                        tup

**Options:**<br>

A. tup = (2,4,5, "J")<br>
B. tup = (2,4,"J", "AB")<br>
C. It will throw an error<br>
D. There will be no output printed

**Answer: C**<br>
**Explanation:** It will throw an error since tuple is not mutable.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>78. Use a list comprehension to find primes in range 2 to 100</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
consonants = [j for i in range(2, 8) for j in range(i*2, 100, i)] 
# to extract prime numbers from 2 to 100
primes = [x for x in range(2, 100) if x not in consonants] 
print (primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>79. Consider two lists X = [23, 65, 78] and Y = [2, 3]. Which of the following is the output for X.append(Y) and X.extend(Y) respectively </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. [23, 65, 78, [2, 3]] and [23, 65, 78, 2, 3] <br>
B. Both will give the same output [23, 65, 78, [2, 3]]<br>
C. Both will give the same output [23, 65, 78, 2, 3]<br>
D. [23, 65, 78, 2, 3] and [23, 65, 78, [2, 3]]<br>

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>80. Write a program to generate harmonic progression with the first term as 1 and difference 2. (up to 10 terms)  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
a = 1
d = 2
AP = [a]
i=1
while i < 10: 
    b = a + d  
    a = b
    i +=1
    AP.append(b) 

# sequence of numbers is called a harmonic progression if the reciprocal of the terms are in AP. 
# in simple terms, a,b,c,d,e,f are in HP if 1/a, 1/b, 1/c, 1/d, 1/e, 1/f are in AP. 
HP = [x**0.5 for x in AP]

print ("The harmonic preogression is:" , HP)

The harmonic preogression is: [1.0, 1.7320508075688772, 2.23606797749979, 2.6457513110645907, 3.0, 3.3166247903554, 3.605551275463989, 3.872983346207417, 4.123105625617661, 4.358898943540674]


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>81. What will be the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                 for x in set('pqr'):
                                      print(x*2)

**Options-**<br>

A. pp<br>
&nbsp; &nbsp;  rr<br>
&nbsp; &nbsp;   qq<br>
   
B. pqr<br>
  &nbsp; &nbsp; pqr<br>
  
C. pqrpqr<br>

D. ppqqrr

**Answer: A**<br>
**Explanation:** The code shown above prints each element of the set twice separately.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>82. Create a dictionary with first five positive odd integers as keys and their cubes as values </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# create an empty dictionary
cube = dict()
for i in range(1,10,2):
    cube[i]=i**3
print('Created dictionary:', cube)

Created dictionary: {1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>83. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [ ]:
dictionary_1={'A':1, 'B':2}
dictionary_2={'C':3}

# use update to concatenate two dictionaries 
dictionary_1.update(dictionary_2)
print("Concatenated dictionary is:", dictionary_1)

Concatenated dictionary is: {'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>84. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                print("python" != "PyThON")

**Options:**<br>

A. False<br>
B. True<br>
C. None<br>
D. Error

**Answer: B**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>85. Write a function to get a single string from two given strings, separated by a space and swap the first character of each string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**

str1 = "anaconda"

str2 = "spyder"

In [ ]:
str1 = "anaconda"
str2 = "spyder"

def chars_mix_up(str1, str2):
    new_str1 = str2[:1] + str1[1:]
    new_str2 = str1[:1] + str2[1:]

    return '"'+ str(new_str1) + ' ' + str(new_str2) + '"'

# call the function
print(chars_mix_up(str1, str2))

"snaconda apyder"

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>86. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                             def func(message, num = 1):
                                 print(message * num)
 
                                 func('Hello', 2)
                                 func('Python')

**Options:**<br>

A. HelloHello<br>
&nbsp; &nbsp; Python<br>
B. Hello Hello<br>
&nbsp; &nbsp; Python<br>
C. Hello Hello Python<br>
D. None<br>

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>87. Which of the following code will not create a list </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                            A. lis = list(set())
                            B. lis = ()
                            C. lis = []
                            D. lis = list[]

**Answer: D**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>88. Write a program to generate geometric progression with the first term as 1 and ratio to be 3. (up to 10 terms) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# enter the first term and ration
a = 1 
r = 3

# create a list to store all the terms of geometric progression
GP = [a]
i=1
while i < 10: 
    b = a * r 
    a = b
    i +=1
    GP.append(b) 
    
print ("The geometric preogression is:" , GP)

The geometric preogression is: [1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>89. What is the output of the following code?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                     for i in [1, 0]:
                                          print(i+1)

**Options:**<br>

A. 2<br>
&nbsp;&nbsp;&nbsp;&nbsp;1<br>
B. [2, 1]  <br>
C. [1, 2] <br>
D. 1<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0<br>

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>90. How can you change <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; num = {‘one’: 1, ‘two’: 3} to num = {‘one’: 1, ‘two’: 2} </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Answer: num['two'] = 2**


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 91. Suppose Dictionary = {'deepak':4, 'anil':5}, which of the following command we use to remove the entry for 'deepak'?</b>
                </font>
            </div>
        </td> 
    </tr>
</table>

**Options-**<br>

A. Dictionary.delete(“deepak”:40)<br>
B. Dictionary.delete(“deepak”)<br>
C. del(Dictionary[“deepak”]) <br>
D. del(Dictionary(“anil”:40))<br>

**Answer: C**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>92. Write a program to calculate the sum of marks in the given dictionary  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**<br>

Marks in 5 sujects of a student are given in the dictionary<br>
marks = {'Maths': 75, 'Chemistry': 87, 'Physics': 77, 'Biology': 92, 'English': 96 }

In [ ]:
marks = {'Maths': 75, 'Chemistry': 87, 'Physics': 77, 'Biology': 92, 'English': 96 }

# set the sum to zero
sum=0
for i in marks:
    sum += marks[i]
print('Sum=',sum)

Sum= 427

**Explanation:** Values can be accessed by 'dictionary_name[key_name]'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 93. Write a program to multiply all the values in a dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

D = {'A': 57, 'B': 100, 'C': 84}

In [ ]:
D = {'A': 57, 'B': 100, 'C': 84}
total = 1
for i in D:    
    total = total*D[i]
print(total)

478800

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>94. What is the value of the expression 120 // 20? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>

A. 6<br>
B. 6.0<br>
C. 06<br>
D. None

**Answer: A**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>95. Write a function to check whether the given number is prime or not (take input of number from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def is_prime(n):
    flg=0
    i=2
    while n>i:
        if n%i==0:
            flg=1
        i+=1
    if flg==0:
        print(n,'is Prime')
    else:
        print(n,'is not prime')

# call the function
n = int(input('Enter number:'))
is_prime(n)

Enter number:37
37 is Prime

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>96. Define a function using a while loop to print a string 3 times? (take string input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def myfunc(text, num):
    while num > 0:
        print(text)
        num = num -1

# call the function
myfunc("python", 3)

python
python
python

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>97. What will be the output of the following code? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                  def printLine(text):
                                      print(text, 'is cool.')

                                  printLine('Alexander')

**Options:**<br>

A. Alexander<br>
B. is cool.<br>
C. text, 'is cool.'<br> 
D. Alexander is cool.

**Answer: D**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>98. Write a program to find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [ ]:
# create a set
set1 = set([5, 10, 3, 15, 2, 20, 10, 5, 4, 3])

# maximum value
print(max(set1))

# minimum value
print(min(set1))

20
2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>99. Write a program to print a dictionary in a table format</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**The dictionary is given below:**

dict = {'A1':[1, 2, 3], 'A2':[5 , 6, 7], 'A3':[9, 10, 11]}

In [ ]:
my_dict = {'A1':[1,2,3], 'A2':[5,6,7], 'A3':[9,10,11]}
for row in zip(*([key] + (value) for key, value in sorted(my_dict.items()))):
    print(*row)

A1 A2 A3
1 5 9
2 6 10
3 7 11

**Explanation:** The '*' mark will print the numbers column-wise

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>100. Write a program to find the numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num_lis =[]

# use if-statement to check the conditions
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        num_lis.append(str(x))
print (','.join(num_lis))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695